@import 'variable';

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Open Sans';
  // Margin bottom by footer height
  margin-bottom: 60px;
}

header {

  .navbar-inverse {

    .navbar-brand {
      color: #fff;
      font-size: 22px;
    }
  }
}

.page-wrapper {
  margin-bottom: 15px;
  margin-top: 15px;

  .alert {
    padding: 5px;
  }

  .form-wrapper {
    border-radius: 5px;
    box-shadow: 3px 3px 10px 0;
    margin: 15px auto;
    padding: 30px;
    width: 450px;

    h2 {
      margin: 0;
    }

    .login-form {
      padding: 25px 0;
    }

    label {
      font-weight: 600;
    }

    &.extend-form-width {
      width: 600px;
    }

    .center-link {

      &.padded {
        padding: 10px;
      }

      .link {
        padding: 20px;
      }
    }
  }
}

.footer {
  background-color: #333;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;

  .copyright-text {
    color: #ccc;
    margin-top: 20px;
    text-align: center;
  }
}

.section {
  padding: 30px;
}

input {
  margin-bottom: 5px;

  .ng-dirty {
    &.ng-invalid {
      border-color: #ff0000;
    }
   }

 }

.signup-form-container {
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 1px -2px 22px -7px;
  padding: 21px;
}

.timesheet-container {

  h3 {
    margin: 0;
    padding: 0;
  }

}

.tt-table {
  padding: 12px;

  table {
    width: 98%;
  }

}

table {

  tbody {
    tr:nth-child(odd) {
      background-color: #def;
    }

    tr:nth-child(even) {
      background-color: #fff;
    }

    tr {
      &.edit {
        background-color: $shandy-shade;
      }
    }
  }

}

.welcome-title {

  .icon {
    text-align: right;
  }

}

.message {
  color: #99C240;
}

.col-span {
  text-align: right;
}

.help-icons {

  div {
    margin-top: 8px;
  }

}

.seperator {
  margin-top: -15px;
  text-align: center;

  span {
    display: inline-block;
    position: relative;
  }

  span:before {
    margin-right: 15px;
    right: 100%;
  }

  span:after {
    left: 100%;
    margin-left: 15px;
  }

  span:before,
  span:after {
    background: #757171;
    content: '';
    height: 1px;
    position: absolute;
    top: 50%;
    width: 185px;
  }

}

.error-message {
  color: #ff0000;
}

.border {

  .btom-mrgn {
    border: solid .7px #ededed;
    margin: 10px;
  }

}

.divider {
  display: inline-block;
  height: auto;
  margin: 10px;
}

.align-text {
  margin-top: 10px;
  text-align: center;
}

.col-sm-12 {

  .input-group {
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 360px) {
  .form-group {
    .input-group {
      .work-description {
        width: 160px;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .form-group {
    .input-group {
      .work-description {
        width: 280px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .form-group {
    .input-group {
      .work-description {
        width: 390px;
      }
    }
  }
}

.img {
  width: 15px;
}

.forgot-btn-container {
  margin-left: -67px;
  margin-top: 28px;
}

.input-email {

  input {
    margin-top: 3px;
    width: 100%;
  }
}

.btn-align {
  &.col-sm-offset-4 {
    margin-left: 36%;
  }
}

.override {
  &.col-sm-3 {
    width: 28%;
  }
}

.center-link {
  clear: both;
  text-align: center;
}

.success-message {
  color: $success;
}

.forget-link {

  a {
    margin: 2px;
  }
}

.align-errors {
  clear: both;
  margin-left: 2px;
}

#forgetform {

  .align-input {
    margin: 11px -14px;
  }
}

.align-error {
  margin-left: -46px;
}

.message-box {
  row {
    background-color: $message-box-color;
    height: 40px;
    margin: 15px;
    padding: 9px;
  }
}

.user-gender {
  width: 25px;
}

.input-group {
  margin-bottom: 5px;

}

.logo-img {
  margin-right: 6px;
  margin-top: -6px;
}

.total-hours {
  font-weight: bold;
  margin-left: 5px;
}

.welcome-text {
  color: $welcome-text;
  padding-top: 15px;

  &:hover {
    color: $welcome-hover-text;
  }
}

