$default: #F1F1F1;
$success: #3CB371;
$error: #ff0000;
$copyright-bg-color: #f1f1f1;
$error-border-color: #ff0000;
$table-even-border: #def;
$table-odd-border: #fff;
$header-color: #fff;
$footer-bg-color: #333;
$copyright-color: #ccc;
$signup-container: #fff;
$message-color: #99C240;
$span-bg: #757171;
$bottom-margin: #ededed;

