<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Time Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="shortcut icon" href="app/assets/images/favicon.ico" type="image/x-icon">

    <!-- inject:css -->

    <link rel="stylesheet" href="css/vendor.min.css">

    <link rel="stylesheet" href="css/application.min.css">

    <!-- endinject -->

    <!-- inject:js -->

    <script src="js/vendor.min.js"></script>

    <script src="js/application.min.js"></script>

    <!-- endinject -->

  </head>
  <body>
    <header>
      <nav id="myNavbar" class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
          <div class="navbar-header">
             <a href="/" class="navbar-brand"><span><img class="logo-img" src="app/assets/images/logo.png"></span> Time Tracker</a>
          </div>
          <div id="navbarCollapse" class="collapse navbar-collapse" ng-if="userStatus">
            <ul class="nav navbar-nav navbar-right">
                <li><div class="welcome-text">Welcome {{userName}}!</div></li>
                <li ng-controller="logoutController"><a href="#" title="logout" ng-click="logout()"><i class="fa fa-sign-out"></i></a>
</li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container page-wrapper" ng-view></div>
    <footer class="footer">
      <div class="container">
        <p class="copyright-text">Copyright © 2015 by Newput, Inc. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
