<div class="form-wrapper">
  <h3>Retrieve your password</h3>
  <form name="forgetform" id="forgetform" novalidate="true" ng-submit = "forgetform.$valid && forgotPwd.fetchPwd()">
    <div class="notification">
      <div class="alert alert-danger" ng-show="errorMessage">
        <strong>Error!</strong> {{errorMessage}}.
      </div>
      <div class="alert alert-success" ng-show="successMessage">
        <strong>Success!</strong> {{successMessage}}.
      </div>
      <div class="alert alert-danger" ng-show="submitted && forgetform.email.$error.required">
        <strong>Error!</strong> Please enter email.
      </div>
      <div class="alert alert-danger" ng-show="forgetform.email.$touched && forgetform.email.$error.email">
        <strong>Error!</strong> Please enter correct email.
      </div>
    </div>
    <div class="col-sm-12 align-input">
      <div class="input-group">
        <input name ="email" ng-model="email" required type="email" placeholder="Enter your email" class="form-control">
        <div class="input-group-btn">
          <button ng-click="submitted=true" type="submit" class=" forgot-btn btn btn-primary">
            Retrieve
          </button>
        </div>
      </div>
      <!--div class="error-message align-errors" ng-cloak>
        <span ng-show="submitted && forgetform.email.$error.required">Please enter email.</span>
        <span ng-show="forgetform.email.$error.email && forgetform.email.$dirty">Please enter correct email.</span>
      </div-->
    </div>
  </form>
  <div>
    <div class="center-link">
      <a href ="login">Back To Login</a>
    </div>
  </div>
</div>


