<div class="row">
  <div class="col-sm-3 override"></div>
  <div class="form-wrap col-sm-5 row forgot">
    <div class="from-container">
      <span class="success-message">{{successMessage}}</span>
      <h3>Retrieve your password</h3>
      <form name="forgetform" id="forgetform" novalidate="true" ng-submit = "forgetform.$valid && forgotPwd.fetchPwd()">
        <div class="col-sm-12 align-input">
          <div class="input-group">
            <input name ="email" ng-model="email" required type="email" placeholder="Enter your email" class="form-control">
            <div class="input-group-btn">
              <button ng-click="submitted=true" type="button" class=" forgot-btn btn btn-primary">
                Retrieve
              </button>
            </div>
          </div>
        </div>
        <div class ="error-message align-errors" ng-cloak>
          <span ng-show="submitted && forgetform.email.$error.required">Please enter email.</span>
          <span ng-show="forgetform.email.$error.email && forgetform.email.$dirty">Please enter correct email.</span>
        </div>
      </form>
      <div>
        <div class="center-link">
          <a href ="login">Back To Login</a>
        </div>
      </div>
  </div>
  <div class="col-sm-3"></div>
</div>
