<div class="form-wrapper">
  <span class="success-message">{{successMessage}}</span>
  <h3>Reset your password</h3>
  <form name="confirmpwdform" id="confirmpwdform" novalidate="true" ng-submit = "confirmpwdform.$valid && forgotPwd.resetPassword()">
    <div class="form-group row">
      <div class="col-sm-5">
        <label>Password<span>:</span>*</label>
      </div>
      <div class="col-sm-7">
        <input type ="password" class="form-control" name="password" ng-model="resetpwd.password" required placeholder="Enter password"/>
        <span class ="error-message" ng-cloak> <span ng-show="submitted && confirmpwdform.password.$error.required">Please enter Password.</span></span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-5">
        <label>Confirm Password<span>:</span>*</label>
      </div>
      <div class="col-sm-7">
        <input type ="password" name="confirmpassword" class="form-control"  pw-check="resetpwd.password" ng-model="resetpwd.confirmpassword" required placeholder="Enter Confirm Password"/>
        <span class ="error-message" ng-cloak> <span ng-show="submitted && confirmpwdform.confirmpassword.$error.required">Please enter Confirm Password.</span></span>
        <span ng-cloak class="error-message" ng-show="confirmpwdform.confirmpassword.$touched && confirmpwdform.confirmpassword.$error.pwCheck">Password and Confirm password are not equal!</span>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary forgot-btn" ng-click="submitted=true">
        Reset Password
      </button>
      <a href="/app"> Back To Login Page </a>
    </div>
  </form>
  <div class="center-link">
    <span class="error-message">{{errorMessage}}</span>
  </div>
</div>