<div class="form-wrapper">
  <h3>Sign-Up</h3>
  <form name="signup" role="form" novalidate="true" ng-submit="signup.$valid && signUp.userSignUp()">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label for="firstname">First Name:*</label>
          <input type="text" class="form-control" ng-model="user.firstName" name="firstname" ng-required="true" placeholder="Enter First Name" >
          <div ng-show="signup.$submitted || signup.firstname.$touched">
            <span ng-cloak class="text-danger" ng-show="signup.firstname.$error.required">
              Tell us your First name.
            </span>
          </div>
        </div>
        <div class="col-sm-6">
          <label for="lastname">Last Name:*</label>
          <input type="text" class="form-control" ng-model="user.lastName" name="lastname"  ng-required="true" placeholder="Enter Last Name">
          <div ng-show="signup.$submitted || signup.lastname.$touched">
            <span ng-cloak class="text-danger" ng-show="signup.lastname.$error.required">
              Tell us your Last name.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <label for="email">Email:*</label>
          <input type="email" class="form-control" ng-model="user.email" name="email" ng-required="true"  placeholder="Enter email">
          <div ng-show="signup.$submitted || signup.email.$touched">
            <span ng-cloak class="text-danger" ng-show="signup.email.$error.required">Tell us your email.</span>
            <span ng-cloak class="text-danger" ng-show="signup.email.$error.email">This is not a valid email.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label for="gender">Gender:*</label>
           <div ng-show="signup.$submitted || signup.dateofbirth.$touched" >
            <span ng-cloak class="text-danger" ng-show="signup.gender.$error.required">Tell us your gender</span>
          </div>
        </div>
        <div class="col-sm-6">
          <label>
             <input type="radio"  class="user-gender" ng-model="user.gender" ng-required="true"  id="gender" name="gender" value="m">Male
          </label>
          <label>
              <input type="radio" class="user-gender" ng-model="user.gender" ng-required="true"  id="gender" name="gender" value="f">Female
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label for="contact">Contact:*</label>
          <input type="text" ng-minlength="10" ng-maxlength="10"  class="form-control" ng-required="true" ng-model="user.contact" numbers-only="numbers-only" name="contact"   placeholder="Enter Contact">
          <div ng-show="signup.$submitted || signup.contact.$touched ">
            <span ng-cloak class="text-danger" ng-show="signup.contact.$error.required">Tell us your contact.</span>
            <span ng-cloak class="text-danger" ng-show="signup.contact.$error.number">Invalid contact no.</span>
            <span ng-cloak class="text-danger" ng-show="(signup.contact.$error.minlength || signup.contact.$error.maxlength) ">Contact nu. should be 10 digits</span>
          </div>
        </div>
        <div class="col-sm-6">
          <label for="address">Address:</label>
          <input type="textarea" class="form-control" ng-model="user.address" name="address"  placeholder="Enter Address">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label for="dateofbirth">Date Of Birth:*</label>
          <input type="text" class="form-control" name="dateofbirth" datepicker-popup="{{format}}" ng-model="user.dob" is-open="opened" ng-click="open($event)" ng-required="true" close-text="Close" />
          <div ng-show="signup.$submitted || signup.dateofbirth.$touched" >
            <span ng-cloak class="text-danger" ng-show="signup.dateofbirth.$error.required">Tell us Your Birthday</span>
          </div>
        </div>
        <div class="col-sm-6">
          <label for="dateofjoining">Date of Joining:*</label>
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-change="copareDate(signup.dateofbirth)"  name="dateofjoining"  ng-model="user.doj"  is-open="opened" ng-click="open($event)" ng-required="true" close-text="Close"  />
          <div ng-show="signup.$submitted || signup.dateofjoining.$touched" >
            <span ng-cloak class="text-danger" ng-show="signup.dateofjoining.$error.required">Tell us Your Joining Date</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <label for="password">Password:*</label>
          <input type="password" class="form-control" ng-required="true" ng-model="user.password" id="password" name="password"  placeholder="Enter password">
          <div ng-show="signup.$submitted || signup.password.$touched" >
            <span ng-cloak class="text-danger" ng-show="signup.password.$error.required">Tell us Your Password</span>
          </div>
        </div>
        <div class="col-sm-6">
          <label for="confirmpassword">Confirm Password:*</label>
          <input type="password" class="form-control" ng-required="true" ng-model="user.confirmpassword" id="confirmpassword" name="confirmpassword"  pw-check="user.password" placeholder="Enter password">
          <div ng-show="signup.$submitted">
            <span ng-cloak class="text-danger" ng-show="signup.confirmpassword.$error.pwCheck">Passwords are not equal!</span>
          </div>
        </div>
      </div>
    </div>
    <span class="text-success">{{successMessage}}</span>
    <span ng-cloak class="text-danger">{{errorMessage}}</span>
    <div class="border btom-mrgn"></div>
    <div class="form-group">
      <div>
        <button type="reset"  class="btn btn-default divider" ng-click="reset()">
          Reset
        </button>
        <button type="submit" class="btn btn-primary divider">
          Register
        </button>
        <a href="/app"> Back To Login Page </a>
      </div>
    </div>
  </form>
</div>