<div class="row timesheet-container">
  <div class="col-sm-12">
    <center>
      <h2>Time Sheet - {{selectedMonth}}</h2>
    </center>
  </div>
  <!-- Modal -->
  <div id="emailBox" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Email me.</h4>
        </div>
        <div class="modal-body">
          <p>
            Do you want to email the timesheet of {{selectedMonth}}, {{yearText}} to <b>{{employees.email}}</b> ?
          </p>
          <div id="email-timesheet-response" ng-if="emailStatus" class="text-success">Timehseet has been sent successfully.</div>
        </div>
        <div class="modal-footer">
          <button type="button" id = "submit-btn" class="btn btn-primary" ng-click="emailMe()">Yes</button>
          <button type="button" id = "dismiss" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end  -->
  <div class="row">
    <div class="col-sm-offset-2 col-xs-offset-2">
      <div class="col-sm-3 col-xs-3">
        <select ng-disabled = "disabledAttr" class="form-control" ng-change="timesheet.weekUpdate()" ng-model ="weekDay" ng-options="week.key for week in weeksOptions.weeks">
          <options>
            -- Weeks --
          </options>
        </select>
      </div>
      <div class="col-sm-3 col-xs-3">
        <select class="form-control" ng-model = "monthsOptions.currentmonth.value"
        ng-options="monthValue.value as monthValue.label for monthValue in monthsOptions" ng-change="timesheet.monthUpdate()">
          <options>
            -- Months --
          </options>
        </select>
      </div>
      <div class="col-sm-3 col-xs-3">
        <select class="form-control" ng-model = "yearOptions.current.value"
        ng-options="yearValue.value as yearValue.label for yearValue in yearOptions" ng-change="timesheet.yearUpdate()">
          <options>
            -- Year --
          </options>
        </select>
      </div>
    </div>
    <div class="col-sm-offset-8 help-icons" ng-if="icon">
      <div class="col-sm-1 col-xs-1">
        <a href="javascript:void(0)" type="button" ng-click="exportMe()" title="Export Timesheet">
          <i class="fa fa-download"></i>
        </a>
      </div>
      <div class="col-sm-1 col-xs-1">
        <a href="javascript:void(0)" type="button" data-toggle="modal" data-target="#emailBox" title="Email Timesheet">
          <i class="fa fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="tt-table">
    <div ng-if="monthlyDataAvailablityStatus">
      <div class="well well-sm">
        {{monthlyDataAvailablityMessage}}
      </div>
    </div>
    <table class="table table-bordered table-hover" ng-if="!monthlyDataAvailablityStatus">
      <thead>
        <tr>
          <th>Date</th>
          <th class="hidden-xs ">Day</th>
          <th>Day In</th>
          <th>Lunch In</th>
          <th>Lunch Out</th>
          <th>Day Out</th>
          <th>Night In</th>
          <th>Night Out</th>
          <th>Total Hrs</th>
          <th>Description</th>
          <th ng-hide = "(curMonth != monthsOptions.currentmonth.value) || (curYear != yearOptions.current.value) ">Action</th>
          <th ng-show = "(curMonth != monthsOptions.currentmonth.value) || (curYear != yearOptions.current.value) ">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="t in timesheetData" ng-class = "{edit: {{t.day}}==activeDay}">
          <td>{{t.day}}</td>
          <td class="hidden-xs">{{t.dayName}}</td>
          <td>{{t.in}}</td>
          <td>{{t.lunchIn}}</td>
          <td>{{t.lunchOut}}</td>
          <td>{{t.out}}</td>
          <td>{{t.nightIn}}</td>
          <td>{{t.nightOut}}</td>
          <td>{{t.totalHour}}</td>
          <td>{{t.description}}</td>
          <td ng-hide = "(curMonth != monthsOptions.currentmonth.value) || (curYear != yearOptions.current.value)">
            <center><a href ="detailview/{{t.workDate}}" title="Edit Timesheet"><i class="fa fa-pencil-square-o"></i></a></center> <a ng-if="false" href="javascript:void(0)" title="Copy Row"><i class="fa fa-files-o"></i><a></a></td>
          <td ng-show = "(curMonth != monthsOptions.currentmonth.value) || (curYear != yearOptions.current.value)">
            <center><a href ="detailview/{{t.workDate}}" title="Edit Timesheet"><i class="fa fa-info-circle"></i></center></a></td>
        </tr>
        <tr>
          <td colspan="10" class="col-span">Total Hrs.</td>
          <td>{{timesheetData.totalHours}}</td>
        </tr>
      </tbody>
    </table>
  </div>
