<div class="row">
  <div class="col-sm-offset-8 welcome-title">
    <div class="col-sm-7 col-xs-8 icon">
      Welcome {{employees.firstName}}!
    </div>
    <div class ="col-sm-2 col-xs-1"><a href="#"><span class="glyphicon glyphicon-cog"></span></a>
    </div>
    <div class="col-sm-2 col-xs-1"><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span></a>
    </div>
  </div>
</div>
<div class="row timesheet-container">
  <div class="col-sm-12">
    <center>
      <h2>Time Sheet of {{selectedMonth}}<sub>{{weeksDateStr}}</sub></h2>
    </center>
  </div>
  <!-- Modal -->
  <div id="emailBox" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Email me.</h4>
        </div>
        <div class="modal-body">
          <p>
            Do you want to email the timesheet of {{selectedMonth}}, {{yearText}} to <b>{{employees.email}}</b> ?
          </p>
          <div class="message" ng-hide=!message>{{message}}</div>
        </div>
        <div class="modal-header">
          <button type="button" id = "dismiss" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" ng-click="emailMe()">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end  -->
  <div class="row">
    <div class="col-sm-offset-2 col-xs-offset-2">
      <div class="col-sm-3 col-xs-3">
        <select class="form-control" ng-change="timesheet.weekUpdate()" ng-model ="weekDay" ng-options="week.key for week in weeksOptions.weeks">
          <options>
            -- Weeks --
          </options>
        </select>
      </div>
      <div class="col-sm-3 col-xs-3">
        <select class="form-control" ng-model = "monthsOptions.currentmonth.value"
        ng-options="monthValue.value as monthValue.label for monthValue in monthsOptions" ng-change="timesheet.monthUpdate()">
          <options>
            -- Months --
          </options>
        </select>
      </div>
      <div class="col-sm-3 col-xs-3">
        <select class="form-control" ng-model = "yearOptions.current.value"
        ng-options="yearValue.value as yearValue.label for yearValue in yearOptions" ng-change="timesheet.yearUpdate()">
          <options>
            -- Year --
          </options>
        </select>
      </div>
    </div>
    <div class="col-sm-offset-8 help-icons">
      <div class="col-sm-1 col-xs-1">
        <a href="javascript:void(0)" type="button" ng-click="exportMe()">
          <span class="glyphicon glyphicon-export"></span>
        </a>
      </div>
      <div class="col-sm-1 col-xs-1">
        <a href="javascript:void(0)" type="button" data-toggle="modal" data-target="#emailBox">
          <span class="glyphicon glyphicon-envelope"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="tt-table">
    <div ng-if="monthlyDataAvailablityStatus">
      <div class="well well-sm">
        {{monthlyDataAvailablityMessage}}
      </div>
    </div>
    <table class="table table-bordered" ng-if="!monthlyDataAvailablityStatus">
      <thead>
        <tr>
          <th>Date</th>
          <th class="hidden-xs ">Day</th>
          <th>Day In</th>
          <th>Lunch In</th>
          <th>Lunch Out</th>
          <th>Day Out</th>
          <th>Night In</th>
          <th>Night Out</th>
          <th>Total Hrs</th>
          <th>Description</th>
          <th ng-hide = "(curMonth != monthsOptions.currentmonth.value) || (curYear != yearOptions.current.value) ">Action</th>
          <th ng-show = "(curMonth != monthsOptions.currentmonth.value) || (curYear != yearOptions.current.value) ">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="t in timesheetData">
          <td>{{t.day}}</td>
          <td class="hidden-xs">{{t.dayName}}</td>
          <td>{{t.in}}</td>
          <td>{{t.lunchIn}}</td>
          <td>{{t.lunchOut}}</td>
          <td>{{t.out}}</td>
          <td>{{t.nightIn}}</td>
          <td>{{t.nightOut}}</td>
          <td>{{t.totalHour}}</td>
          <td>{{t.workDesc}}</td>
          <td ng-hide = "(curMonth != monthsOptions.currentmonth.value) || (curYear != yearOptions.current.value)">
            <a href ="detailview/{{t.workDate}}"><span class="glyphicon glyphicon-edit")></span></a> | <span class="glyphicon glyphicon-copyright-mark"></span></td>
          <td ng-show = "(curMonth != monthsOptions.currentmonth.value) || (curYear != yearOptions.current.value)">
            <center><a href ="detailview/{{t.workDate}}"><span class="glyphicon glyphicon-info-sign")></span></center></a></td>
        </tr>
        <tr>
          <td colspan="10" class="col-span">Total Hrs.</td>
          <td>{{timesheetData.totalHours}} hrs</td>
        </tr>
      </tbody>
    </table>
  </div>
